.header-top-one{
 
}
.fly-menu-top{ 
  
} 

.horizontal-ad-section{
    img{
        width: 100%;
    }
}
.logo-area-one {
    a { 
        h1 {
            margin: 0; 
            img {
                width: 180px;
                height: auto;
            }
        }
    }
}
.main-menu-one {
    margin-top: 25px;
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block; 
            a {
              color: $black_color;
              padding: 5px 8px;
              @include aw3_transition(0.7s);

              &:hover {
                  color: $primary_color;
              }
            }
        }
    }

}
.header-top-right-side {
    margin-top: 20px;
    

    span {
        cursor: pointer;
        margin-left: 10px;
        i {
            font-size: 20px;
        }
        &:hover {
            color: $primary_color;
        }
    }

    .fm_icon{
      disply :none;
    } 

    
}

  .nav-search-box{ 

      margin: 30px auto; 
      width:80%;
      border-color: $alt_color;  
      padding: 8px; 
  }

  .wpnews-search-box{
     position: fixed;
     top: 0;
     left: 0;
     background-color: $white_color;
     z-index: 2;
     height: 150px;
     width: 100%;
     display: none;

      i{

        font-size: 20px;
        padding: 5px;
        cursor: pointer;
     }

  } 


.header-top-slider-area {
    background-color:  $black_color;
} 

.fly-menu{    
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0;
    background-color:#dee2e6cc;
    z-index: 1; 
    display: none; 
    transition: height 350ms ease-in-out;


         .fly-menu-wrapper{ 
            margin: 0 auto; 
            width: 100%;
            height: 450px;
            background-color: $white_color;
            z-index: 9;
           @include aw3_transition(.9s);
           transition: height 350ms ease-in-out;
        
          }
          .fly-menu-top{
                  overflow:hidden;
             ul{
                display: inline-block;
                
                

                li{
                  float: left;
                  text-align: center;
                  width: 175px;
                  white-space: initial;
                  padding:5px 0;

                  a{
                     display: block;
                     text-align: initial;
                     cursor: pointer;

                     &:hover{
                      color:$primary_color;
                     }
                  }
                }
             }
 
          } 

.fly-menu-top{

  border-top: 1px solid $border_color;
  border-bottom: 1px solid $border_color;
  padding: 30px; 
}
.fly-menu-bottom{

    padding:20px; 
   span{ 
     margin-left: 50px;
   }
   i{
     margin-right:10px;
   }
}

} 

.news-ticker{   
      background-color:#EDEDED; 

    .news-ticker-title{
        background-color:$title_color; 
        font-size: 14px;
        height: 100%;
        color: #ffff; 
        text-align: center; 
        padding-top:7px;
    }
}
#ticker-box{
        
       padding: 5px 0 22px 0;
       li{ 
          font-size: 13px;
      }
}

.logo-area-one{
  h5{

   font-size: 15px;
  }
}

 

  

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
   display: block;
   background-color: #444;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.mobile-menu{
  position: relative;

  .mobile-menu-head{

   position: fixed;
   top: 0;
   left: 0;
   right: 0; 
   width: cover;
   background-color: $white_color;
   z-index: 9999;
  padding: 0 5% 3px 5%;
   border-bottom:1px solid $border_color;

   .logo-area-one{

    h5{
      font-size: 15px;
      margin-top: -5px; 
      line-height: 14px; 
    }

   }





  }

  .mobile-icon i{
    margin-top: 27px;
  }

  .mobile-full-menu{
     width: 100%;
     height: 100vh;
     top: 74px;
     left: 0;
     right: 0;
     position: fixed;
     content: '';
     z-index: 1; 
     background-color: $white_color;
     display: none;
     padding-top: 20px; 
       overflow: scroll;
     ul{
        li{ 
             text-align: center;
             border-bottom:1px solid $border_color;
             margin:15px 0;
             padding-bottom: 8px;
             cursor: pointer;
          a{
              cursor: pointer !important;
  display: inline-block;
          }
        }
     }
  }
 
 
   
 .dropdown-mobile-menu{
     display: none; 

     li:last-child{
      border-bottom:none;
      background-color: gray;
     }
 }

}


 
 
@media only screen and (max-width: 992px) {
  .desktop-version{ 
   display: none;
  }
}
@media only screen and (min-width: 991px) {
  .mobile-menu{
    display: none;
 }

} 
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
  .main-menu-one { 

      margin:15px 0 0 25px;
       ul{
         li{
            a{
              padding:5px 3px;
              font-size: 17px; 
            }
         }
       }
  }
    .logo-area-one{

      h5{ 
        margin-left: 5px;
       }  
   }
  .fly-menu .fly-menu-top{

    margin-top: 5px;
  }
} 

@media only screen and (max-width: 767px) {


.logo-area-one {
    a { 
        h1 {
            margin: 0; 
            img {
                width: 125px;
                height: auto;
            }
        }
    }
}

  .fly-menu .fly-menu-wrapper{

     height: 100%;
     padding:0;
     overflow: scroll; overflow-x:hidden; 
  }
  .main-menu-one {  
      display: none;
  }

  .fly-menu .fly-menu-top{
     padding:10px 0px; 
     ul{ 
       li{ 
         a{ 
           padding:1px;  
           text-align: center;
           font-size: 18px;
           margin: 5px;
         }
       }
     }
  }
  .fly-menu .fly-menu-bottom span {
    margin-left: 11px;
  } 
    .header-bottom-one{   
       .date-area{  
            p{   
               font-size: 14px;
               text-align: justify;  
            }
       }
  }

}
 
 



