.wp-news-thumb {
   height: auto;   
}
.fix {
    overflow: hidden;
}
.margin-tb {
    margin: 20px 0px;
}
.padding-tb {
    padding: 20px 0px;
}
.margin-bt{
	margin-bottom: 10px;
 
}
.padding-l-z{
  padding-left: 0;
}
.margin-auto {
    margin: auto;
}

.featured-img{
   position: relative;
}
 
.featured-post-title{
    margin:10px 0 5px 0;      
 }
 
 .featured-post-sm{
 	  padding:5px 0;
      border: 1px solid $border_color;
 }
 .featured-post-title-sm{
    margin:10px 0 5px 0; 
    font-size:15px;
 }
.post-title-inside-box{
	position: relative;

}
.post-title-inside-title{
	position: absolute;
	bottom: 15px;
	left: 15px;
}

.featured-post-img-sm{

 
  height: 80px;
  overflow:hidden;

    img{

        width:100%;
        height:80px;
        object-fit:cover;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

     .featured-post-img-sm{

 
  height: 80px;
  overflow:hidden;

      img{

         width:100%;
         height:65px;
         object-fit:cover;
      }
  }
}

 







