.wp-news-thumb {
   height: auto;   
}
.fix {
    overflow: hidden;
}
.margin-tb {
    margin: 20px 0px;
}
.padding-tb {
    padding: 20px 0px;
}
.margin-bt{
	margin-bottom: 10px;
 
}
.padding-l-z{
  padding-left: 0;
}
.margin-auto {
    margin: auto;
}
 
.featured-post-title{
    margin:10px 0 5px 0;      
 }
 
 .featured-post-sm{
 	  padding:5px 0;
      border: 1px solid $border_color;
 }
 .featured-post-title-sm{
    margin:10px 0 5px 0; 
    font-size:15px;
 }
.post-title-inside-box{
	position: relative;

}
.post-title-inside-title{
	position: absolute;
	bottom: 15px;
	left: 15px;
}



 







